/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
  body {
    background-color: blueviolet;
  }
 .arrow {
    padding: 0;
    background: rgb(72, 247, 180);
    border-radius: 25px;
    border-color: 1px solid rgb(51, 110, 238);
    font-size: 24px;
    line-height: 24px;
    display: block;
  }
  
  .arrow:focus {
    outline: none;
  }
  
  .arrow:hover {
    background: rgb(3, 209, 245);
    cursor: pointer;
  }
  
  ul {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }
  
  ul img {
    width: 130px;
    height: 130px;
    display: block;
  }
  
  ul li {
    display: inline-block;
  }

  button.arrow {
    position: absolute;
    height: 100px;
    width: 30px;
    top: 22px;
    float:left;
  }
  button.arrow.prev {
    left: 10px;
  }
  button.arrow.next {
    right: 10px;
  }
  div.carousel {
    position: relative;
    height: 150px;
    width: 500px;
    background: rgb(243, 208, 12);
    border: 1px solid rgb(243, 208, 12);
    margin: 50px auto;
  }
  div.gallery {
    position: absolute;
    width: 390px;
    top: 11px;
    left: 50px;
    overflow: hidden; 
  }
  div.gallery ul {
    width: 9999px; 
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    transition: transform 0.5s ease-in-out;
  }
