.game-container{
    width: 750px;
    height: 1000px;
    position: absolute;
}

.sky{
    background-color: skyblue;
    width: 750px;
    height: 850px;
    position: absolute;
}

.ground{
    background-color: brown;
    width: 750px;
    height: 150px;
    position: absolute;
    top: 850px;
}

.bird{
    background-color: yellow;
    position: absolute;
    height: 45px;
    width: 60px;
}